<div class="container">
  <div class="highlight-container mtb20">
    <!-- Inicio titulo colecciones  -->
    <div class="highlight-title">
      <div class="row">
        <div class="col mtb20">
          <div class="text-center text-upper color-primary">
            <h2><span class="title">Colecciones</span></h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin - titulo colecciones  -->

    <!-- Inicio titulo colecciones  -->
    <div class="highlight-content mtb20">
      <div class="row no-gutters">
        <div class="col-4 highlight"> <img src="../../assets/img/c1.jpg" alt="C1" class="img-fluid"> </div>
        <div class="col-4 highlight"> <img src="../../assets/img/c2.jpg" alt="C2" class="img-fluid"> </div>
        <div class="col-4 highlight"> <img src="../../assets/img/c3.jpg" alt="C3" class="img-fluid"> </div>
        <div class="col-4 highlight"> <img src="../../assets/img/c4.jpg" alt="C4" class="img-fluid"> </div>
        <div class="col-4 highlight"> <img src="../../assets/img/c5.jpg" alt="C5" class="img-fluid"> </div>
        <div class="col-4 highlight"> <img src="../../assets/img/c6.jpg" alt="C6" class="img-fluid"> </div>
      </div>
    </div>
    <!-- Fin - titulo colecciones  -->
  </div>
</div>
