<div class="highlight-container mtb20">
  <!-- Inicio titulo colecciones  -->
  <div class="highlight-title">
    <div class="row">
      <div class="col mtb20"> colecciones </div>
    </div>
  </div>
  <!-- Fin - titulo colecciones  -->

  <!-- Inicio titulo colecciones  -->
  <div class="highlight-content mtb20">
    <div class="row">
      <div class="col-4 highlight">colecciones </div>
      <div class="col-4 highlight">colecciones </div>
      <div class="col-4 highlight">colecciones </div>
      <div class="col-4 highlight">colecciones </div>
      <div class="col-4 highlight">colecciones </div>
      <div class="col-4 highlight">colecciones </div>
    </div>
  </div>
  <!-- Fin - titulo colecciones  -->

</div>
