<div class="highlight-container mtb20">
  <!-- Inicio titulo destacado  -->
  <div class="highlight-title">
    <div class="row">
      <div class="col mtb20"> destacados </div>
    </div>
  </div>
  <!-- Fin - titulo destacado  -->

  <!-- Inicio titulo destacado  -->
  <div class="highlight-content mtb20">
    <div class="row">
      <div class="col-4 highlight">destacados </div>
      <div class="col-4 highlight">destacados </div>
      <div class="col-4 highlight">destacados </div>
      <div class="col-4 highlight">destacados </div>
      <div class="col-4 highlight">destacados </div>
      <div class="col-4 highlight">destacados </div>
    </div>
  </div>
  <!-- Fin - titulo destacado  -->


</div>
