<div class="container">
  <div class="highlight-container mtb20">
    <!-- Inicio titulo destacado  -->
    <div class="highlight-title">
      <div class="row">
        <div class="col mtb20">
          <div class="text-center text-upper color-primary">
            <h2><span class="title">Destacados</span></h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin - titulo destacado  -->

    <!-- Inicio titulo destacado  -->
    <div class="highlight-content mtb20">
      <div class="row no-gutters">
        <div class="col-4 highlight"> <img src="../../assets/img/d1.jpg" alt="D1" class="img-fluid"> </div>
        <div class="col-4 highlight"> <img src="../../assets/img/d2.jpg" alt="D2" class="img-fluid"> </div>
        <div class="col-4 highlight"> <img src="../../assets/img/d3.jpg" alt="D3" class="img-fluid"> </div>
        <div class="col-4 highlight"> <img src="../../assets/img/d4.jpg" alt="D4" class="img-fluid"> </div>
        <div class="col-4 highlight"> <img src="../../assets/img/d5.jpg" alt="D5" class="img-fluid"> </div>
        <div class="col-4 highlight"> <img src="../../assets/img/d6.jpg" alt="D6" class="img-fluid"> </div>
      </div>
    </div>
    <!-- Fin - titulo destacado  -->

  </div>
</div>
