<div class="container">
  <div class="row">
    <div class="col">
      <div class="slider">
        <!-- <div class="port rait" style="background-image:url(../../assets/img/slider-1.jpg);"></div> -->
        <!-- begin glide slider -->
        <div class="glide" #glide>
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              <li class="glide__slide">
                <div class="image" style="background-image:url(./assets/img/slider-1.jpg)"> </div>
              </li>
              <li class="glide__slide">
                <div class="image" style="background-image:url(./assets/img/slider-2.jpg)"> </div>
              </li>
            </ul>
          </div>
          <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
          </div>
        </div>
        <!-- end glide slider  -->
      </div>
    </div>
  </div>
</div>
