<div class="container">
  <div class="footer-container">

    <div class="row">
      <div class="col-12">
        <!-- Footer  menu links -->
        <ul class="footer-links">
          <li class="li-link"><a href="#" class="link">Promociones</a></li>
          <li class="li-link"><a href="#" class="link">Pedidos</a></li>
          <li class="li-link"><a href="#" class="link">Servicio al Cliente</a></li>
          <li class="li-link"><a href="#" class="link">Soporte</a></li>
          <li class="li-link"><a href="#" class="link">Más populares</a></li>
          <li class="li-link"><a href="#" class="link">Próximos</a></li>
          <li class="li-link"><a href="#" class="link">Productos Especiales</a></li>
          <li class="li-link"><a href="#" class="link">Editoriales</a></li>
          <li class="li-link"><a href="#" class="link">Envío</a></li>
          <li class="li-link"><a href="#" class="link">Medios de Pago</a></li>
          <li class="li-link"><a href="#" class="link">Garantia</a></li>
          <li class="li-link"><a href="#" class="link">Devoluciones</a></li>
          <li class="li-link"><a href="#" class="link">Términos y condiciones</a></li>
          <li class="li-link"><a href="#" class="link">Políticas</a></li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 ">
        <div class="row">
          <div class="col">1</div>
          <div class="col">2</div>
          <div class="col">3</div>
          <div class="col">4</div>
          <div class="col">5</div>
          <div class="col">6</div>
          <div class="col">7</div>
          <div class="col">8</div>
          <div class="col">9</div>
          <div class="col">10</div>
          <div class="col">11</div>
        </div>
      </div>
    </div>


    <div class="footer-wrap bg-second">
      <div class="row justify-content-center">
        <div class="col-2 footer-logo">
          <img src="assets/img/logo.svg" class="img-fluid mx-auto d-block" alt="">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2 footer-social text-center text-uppercase">
          <span>Síganos en</span>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-3 ">
          <div class="row">
            <div class="col">
              <span> f</span>
            </div>
            <div class="col">
              <span> t</span>
            </div>
            <div class="col">
              <span> g</span>
            </div>
            <div class="col">
              <span> l</span>
            </div>
            <div class="col">
              <span> y</span>
            </div>
          </div>
        </div>
      </div>


    </div>



  </div>
</div>
