<div class="highlight-container mtb20">
  <!-- Inicio titulo Revistas  -->
  <div class="highlight-title">
    <div class="row">
      <div class="col mtb20"> Revistas </div>
    </div>
  </div>
  <!-- Fin - titulo Revistas  -->

  <!-- Inicio titulo Revistas  -->
  <div class="highlight-content mtb20">
    <div class="row">
      <div class="col-4 highlight"> revistas </div>
      <div class="col-4 highlight"> revistas </div>
      <div class="col-4 highlight"> revistas </div>
      <div class="col-4 highlight"> revistas </div>
      <div class="col-4 highlight"> revistas </div>
      <div class="col-4 highlight"> revistas </div>
    </div>
  </div>
  <!-- Fin - titulo Revistas  -->

  <!-- Inicio - Cinto de secciones -->
  <div class="belt mtb20">
    <div class="row">
      <div class="col sections">imagen</div>
      <div class="col sections">imagen</div>
      <div class="col sections">imagen</div>
      <div class="col sections">imagen</div>
    </div>
  </div>
  <!-- Fin - Cinto de secciones -->
</div>
