<!-- Inicio Contacto -->
<div class="contact-container mtb20">
  <!-- Inicio del row del título y formulario -->
  <div class="row-form mtb20">
    <div class="row justify-content-md-center">
      <div class="col-11">
        <!-- Inicio del del título -->
        <div class="row-title">
          <div class="row">
            <div class="col-12 mtb20"> Contactanos</div>
            <div class="col-12 "> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nulla iusto
              dignissimos, aperiam optio consequatur odio voluptatem, rerum repellat voluptate voluptas ab eaque porro
              id.
              Eum eos esse fugiat similique!</div>
          </div>
        </div>
        <!-- Fin del del título -->

        <!-- Inicio del del formulario -->
        <div class="row">
          <div class="col-3 news"> texto </div>
          <div class="col-9 news"> formulario</div>
        </div>
        <!-- Inicio del del formulario -->
      </div>
    </div>
  </div>
  <!-- Fin del row del título y formulario -->
</div>
<!-- Fin Contacto -->
