<div class="container">
  <!-- Inicio - Ofertas especiales wrap -->
  <div class="offer-container mtb20">
    <div class="offer-wrap">
      <div class="row">
        <!-- Inicio - Ofertas especiales izquierda -->
        <div class="col">
          <div class="row">
            <div class="col desc">
              <!-- begin title -->
              <div class="secondary">
                <div class="title text-white text-upper">
                  <div class="tag-offer">
                    <img src="../../assets/img/tag-offer.png" alt="oferta" class="image-small">
                    Ofertas Especiales
                  </div>
                </div>
              </div>
              <!-- end title -->
              <div class="row">
                <div class="col">
                  <div class="portrait" style="background-image:url(../../assets/img/oferta-1.jpg);">
                    <!-- begin auto laterales -->
                    <div class="row" style="position: relative; top: 0">
                      <div class="col-auto mr-auto">
                        <div class="new">Nuevo</div>
                      </div>
                      <div class="col-auto">
                        <div class="triangulo-equilatero-bottom-left"><span class="discount">-10%</span></div>
                      </div>
                    </div>
                    <!-- end auto laterales -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5 info"> info </div>
            <div class="col info"> a </div>
            <div class="col info"> b </div>
          </div>
        </div>
        <!-- Fin - Ofertas especiales izquierda -->
        <!-- Inicio - Ofertas especiales derecha -->
        <div class="col">
          <div class="row">
            <div class="col-6 offer">d</div>
            <div class="col-6 offer">e</div>
            <div class="col-6 offer">f</div>
            <div class="col-6 offer">g</div>
          </div>
        </div>
        <!-- fin - Ofertas especiales derecha -->
      </div>
    </div>
    <!-- Fin - Ofertas especiales wrap -->
    <!-- Inicio - Cinto de secciones -->
    <div class="belt mtb20">
      <div class="row" style="background-color: #DC0818">
        <div class="col sections">
          <img src="../../assets/img/destacados.png" alt="Destacados" class="img-belt mx-auto d-block ">
          <div class="title text-white text-center text-upper">Destacados</div>
        </div>
        <div class="col sections">
          <img src="../../assets/img/colecciones.png" alt="Colecciones" class="img-belt mx-auto d-block">
          <div class="title text-white text-center text-upper">Colecciones</div>
        </div>
        <div class="col sections">
          <img src="../../assets/img/revistas.png" alt="Revistas" class="img-belt mx-auto d-block">
          <div class="title text-white text-center text-upper">Revistas</div>
        </div>
        <div class="col sections">
          <img src="../../assets/img/libros.png" alt="Libros" class="img-belt mx-auto d-block">
          <div class="title text-white text-center text-upper">Libros</div>
        </div>
      </div>
    </div>
    <!-- Fin - Cinto de secciones -->
  </div>


</div>
