<!-- Inicio - Ofertas especiales wrap -->
<div class="offer-container mtb20">
  <div class="offer-wrap">
    <div class="row">
      <!-- Inicio - Ofertas especiales izquierda -->
      <div class="col">
        <div class="row">
          <div class="col desc"> oferta especial</div>
        </div>
        <div class="row">
          <div class="col-5 info"> info </div>
          <div class="col info"> a </div>
          <div class="col info"> b </div>
        </div>
      </div>
      <!-- Fin - Ofertas especiales izquierda -->
      <!-- Inicio - Ofertas especiales derecha -->
      <div class="col">
        <div class="row">
          <div class="col-6 offer">d</div>
          <div class="col-6 offer">e</div>
          <div class="col-6 offer">f</div>
          <div class="col-6 offer">g</div>
        </div>
      </div>
      <!-- fin - Ofertas especiales derecha -->
    </div>
  </div>
  <!-- Fin - Ofertas especiales wrap -->
  <!-- Inicio - Cinto de secciones -->
  <div class="belt mtb20">
    <div class="row">
      <div class="col sections">Destacados</div>
      <div class="col sections">Colecciones</div>
      <div class="col sections">Revistas</div>
      <div class="col sections">Libros</div>
    </div>
  </div>
  <!-- Fin - Cinto de secciones -->
</div>
