<div class="container">
  <div class="news-container mtb20">
    <div class="row-title">
      <div class="row">
        <div class="col-12 mtb20 mb0"> Reciba nuestros boletines</div>
        <div class="col-12 mb0"> Suscribase y reciba nuestras novedades</div>
      </div>
    </div>
    <div class="row-form">
      <div class="row">
        <div class="col news"> <img src="../../assets/img/cher.jpg" alt="img 1" class="img-fluid "></div>
        <div class="col-6 news"> form </div>
        <div class="col news"> <img src="../../assets/img/escribe.jpg" alt="img 2" class="img-fluid"></div>
      </div>
    </div>
  </div>
</div>
